body {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  color: rgb(51, 51, 51);
  background-color: rgb(252, 252, 255);
}
/* NAV */
.check-btn {
  font-size: 50px;
  margin-right: 20px;
  color: black;
  line-height: 80px;
  margin-right: 30px;
}
#check {
  display: none;
}
nav > a {
  display: inline;
}
nav {
  background-color: white;
  height: 80px;
  vertical-align: middle;
  width: 100%;
  position: fixed;
  top: 0;
}
ul {
  display: flex;
  padding-left: 20px;
  margin: 0px;
  height: 100%;
}
li {
  list-style: none;
  margin: 30px 10px;
}
.space {
  width: 47%;
}
nav img {
  display: inline;
  width: 190px;
  align-self: baseline;
  margin: 14px 0px 0 30px;
  float: left;
}
a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: rgb(65, 64, 64);
  font-weight: 300;
}
li > a:hover {
  color: blue;
}
nav li:nth-child(8) {
  margin-top: 20px;
}
button,
input[type="submit"] {
  width: 130px;
  height: 40px;
  font-size: 15px;
  border-radius: 75px;
  background-color: rgb(80, 80, 248);
  color: white;
  border: none;
}
li > button:hover {
  background-color: blue;
}

.burger {
  margin-top: 20px;
  margin-right: 10px;
  display: none;
}
.line {
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 1px;
  margin: 5px;
}
.line:nth-child(2) {
  height: 2px;
}
.line:nth-child(3) {
  height: 4px;
}
.burger-menu {
  display: none;
  margin-top: 0;
  padding: 0;
}
.burger-menu li {
  background-color: rgb(253, 253, 253);
  height: 50px;
  margin: 0px 10px 0 0;
  padding: 30px 0 10px 30px;
  padding-top: 30px;
  border-bottom: 1px solid rgb(229, 236, 245);
}
.extra-nav {
  width: 100%;
  height: 200px;
  margin: 0;
  padding-left: 30px;
  padding-bottom: 10px;
  display: none;
  text-align: left;
  background-color: white;
}
.extra-nav > div {
  flex-basis: 300px;
  height: 90%;
  display: flex;
  margin: 10px;
  justify-content: center;
}
#sol-nav {
  flex-wrap: wrap;
  background-color: white;
  height: auto;
}
#sol-nav > div {
  flex-basis: 280px;
  height: auto;
  padding: 0%;
}
#sol-nav > div > div {
  margin-top: 10px;
}
#sol-nav > div > i {
  margin-top: 28px;
}
.extra-nav > div > i,
.extra-nav > div > div {
  margin-top: 28px;
}
.extra-nav > div > i {
  margin: 20px;
  margin-top: 45px;
}
.extra-nav > div > i {
  color: blue;
}
.extra-nav > div:hover {
  background-color: rgb(241, 241, 247);
}

/* NAV END */

/* GET STARTED */
.get-started {
  width: 70%;
  margin: auto;
  line-height: 50px;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}
h3 {
  font-size: 25px;
  font-weight: 400;
}
.work-category > div {
  background-color: rgb(237, 237, 243);
  display: inline-block;
  padding: 0px 10px 5px 8px;
  border-radius: 30px;
  margin: 10px;
  height: 40px;
  text-align: center;
  font-weight: 400;
}
.work-category > div > input {
  width: 15px;
  height: 15px;
}
.work-category > div:hover {
  background-color: rgb(216, 216, 219);
}
div > button {
  width: 180px;
  height: 50px;
  font-size: 18px;
  margin-top: 20px;
}
div > button:hover {
  background-color: blue;
}
/* GET sTRATED END */

/* TEAM PLANNING */
.top-margin {
  margin-top: 50px;
}
.top-padding {
  padding-top: 30px;
}
#team-planning-img {
  width: 100%;
  margin: 0;
}

#company-logo {
  display: grid;
  gap: 10%;
  justify-content: center;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(5, 100px);
}

#company-logo > img {
  width: auto;
  height: 70px;
  margin-top: 10px;
}
.box-shadow {
  border: none;
  width: 100%;
  box-shadow: 0px 25px 10px rgba(0, 0, 255, 0.062);
}
/* TEAM PLANNING END */

/* VIDEO */
#video-text-container {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 5%;
  grid-template:
    "a b"
    "c d"
    "e f"
    "g h";
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
}
video {
  width: 100%;
}
#manage-video {
  grid-area: a;
}
#manage-text {
  grid-area: b;
}
#set-up-video {
  grid-area: d;
}
#set-up-text {
  grid-area: c;
}
#save-auto-video {
  grid-area: e;
}
#save-auto-text {
  grid-area: f;
}
#work-video {
  grid-area: h;
}
#work-text {
  grid-area: g;
}
/* VIDEO END */

.left-text-align {
  text-align: left;
}

.text-center-headding {
  margin-top: 20%;
  font-size: 40px;
  font-weight: 400;
  width: 80%;
}

/* SUPPORT START */
#support {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
#support > div {
  flex-basis: 1;
  margin-top: 50px;
}
#support-img > img {
  width: 80%;
}
h2 + p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
#free-trial {
  color: white;
  background: rgb(43, 44, 93);
  padding-top: 80px;
  padding-bottom: 104px;
}
#free-trial > h2 {
  font-size: 50px;
  margin-bottom: 0px;
}
#free-trial > button {
  background-color: white;
  color: blue;
  width: 180px;
  height: 50px;
  font-size: 18px;
}
/* SUPPORT END */

/* FOOTER */
#footer {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
  width: 100%;
  color: rgb(26, 26, 26);
  background-color: rgb(244, 244, 247);
}
#footer > div > a {
  display: block;
  font-size: 15px;
  color: rgb(26, 26, 26);
}
#footer > div > a:hover {
  color: blue;
}
#footer > div {
  flex-basis: 100px;
  margin: 50px 70px;
  line-height: 30px;
}
#footer > .footer-left {
  flex-basis: 300px;
  font-size: 13px;
  font-weight: 400;
}
#footer > .footer-left > p:nth-child(2) {
  margin-top: 0px;
  margin-bottom: 0px;
}
#footer > .footer-left > img {
  width: 150px;
  margin-top: 12px;
}
#footer-status {
  display: flex;
  background-color: rgb(244, 244, 247);
  padding: 10px 0px;
  width: 100%;
}
#footer-status > a {
  font-size: 15px;
  color: navy;
  text-decoration: underline;
  padding-top: 10px;
  margin: 0px 25px;
}
#footer-status > a:nth-child(1) {
  margin-left: 50px;
}
.fav-ico > a > img {
  width: 30px;
  margin-bottom: 30px;
}
#footer-status > div:nth-child(8) {
  margin-left: auto;
  margin-right: 20px;
}

@media only screen and (max-width: 1200px) {
  nav > ul > li {
    display: none;
  }
  .burger {
    display: inline;
    width: 100%;
    text-align: right;
    margin-left: 80%;
  }
  .burger-menu {
    display: none;
  }
  .burger-menu > li {
    display: block;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 0;
  }
}

/* ------------------------------------------------------------------- */
/* Contact-Page */
.no-margin-bottom {
  margin-bottom: 0px;
}
.no-margin-top {
  margin-top: 0px;
}
.contact {
  margin: 0px;
  margin-top: 80px;
  padding: 60px;

  background-color: rgb(244, 244, 247);
}
.contact > h1 {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 10px;
}
.cnt-text {
  width: 80%;
  margin: auto;
  font-size: 18px;
  line-height: 30px;
  word-spacing: 5px;
}
.contact-form {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: rgb(252, 252, 255);
}
.form {
  flex-basis: 40%;
}
.contact-img {
  flex-basis: 50%;
}
.contact-img > img {
  width: 90%;
  margin: auto;
  margin-top: 80px;
}
.form > form {
  display: grid;
  grid-template:
    "fname fname lname lname"
    "email email jtitle jtitle"
    "phn phn phn phn"
    "cn cn cn cs"
    "tx tx tx tx"
    "btn btn btn btn";
  gap: 20px;
  box-shadow: 0px 0px 10px 10px rgb(245, 245, 245);
  border-radius: 10px;
  padding: 50px;
  margin: 0 0 0 80px;
  background-color: white;
}
.form-element > label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  color: rgb(83, 83, 83);
}
.form-element > input {
  width: 100%;
  height: 35px;
  border: 0.5px solid lightgray;
  border-radius: 3px;
  margin-top: 5px;
}
#txtF {
  height: 70px;
}
#subBtn {
  width: 100%;
  text-align: center;
}
#subBtn > input {
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 40px;
}

#firstName {
  grid-area: fname;
}
#lastName {
  grid-area: lname;
}
#workEmail {
  grid-area: email;
}
#jobTitle {
  grid-area: jtitle;
}
#phnNum {
  grid-area: phn;
}
#comName {
  grid-area: cn;
}
#cSize {
  grid-area: cs;
}
#textFeild {
  grid-area: tx;
}
#subBtn {
  grid-area: btn;
}
.connect-cards {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template: "a b c d";
  gap: 10px;
  background-color: rgb(252, 252, 255);
}
.card {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 80px;
}
.card > img {
  width: 100%;
  max-width: 300px;
}
.card > p {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 50px;
}
.card > a {
  margin-top: 10px;
  color: rgb(0, 153, 255);
  text-decoration: none;
  font-size: 18px;
}
#connect_1 {
  grid-area: a;
}
#connect_2 {
  grid-area: b;
}
#connect_3 {
  grid-area: c;
}
#connect_4 {
  grid-area: d;
}

/* ------------------------------------------------------------------- */
/* Price-Page */
.free-trial {
  margin-top: 120px;
  margin-bottom: 100px;
}
.free-trial > h1 {
  font-size: 40px;
  font-weight: 500;
}
.free-trial > p {
  letter-spacing: 0.8px;
  word-spacing: 2px;
  font-size: 18px;
  color: black;
}
h1 > span {
  color: rgba(0, 0, 255, 0.699);
}

.head {
  text-align: left;
  width: 80%;
  margin: auto;
}
.head-left {
  float: left;
}
.head-left > p {
  display: inline-block;
}
.head-right > p > span {
  color: blue;
}
.head p {
  font-size: 18px;
}
.drowp-down {
  width: 200px;
  height: 40px;
  font-size: 17px;
  padding: 10px;
  border: 0.7px solid lightgray;
  border-radius: 3px;
}
.clear {
  clear: both;
}
.head-right {
  float: right;
}
.card-container {
  display: flex;
  width: 81%;
  margin: auto;
}
.p-card {
  flex: 1;
  text-align: left;
  border: 1px solid lightgray;
  border-top: 10px solid rgba(128, 0, 128, 0.678);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.p-card > h3 {
  font-weight: 500;
  margin-bottom: 10px;
}
.p-card > h1:nth-child(2) {
  margin: 0;
  margin-right: 5px;
  color: rgba(128, 0, 128, 0.678);
  float: left;
}
.p-card > h1:nth-child(2) > span {
  color: rgba(128, 0, 128, 0.678);
  opacity: 1;
}
.flex-body {
  display: flex;
  justify-content: space-between;
}
.flex-body > p:nth-child(1) {
  margin-right: 10px;
}
.p-card > div:nth-child(3) {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: black;
  float: left;
}
.p-card > button {
  background-color: white;
  color: blue;
  border: 1px solid blue;
  height: 35px;
  width: 150px;
  font-size: 13px;
}
.p-card > button:hover {
  color: white;
}
.p-card > p:nth-child(7) {
  font-size: 16px;
  color: gray;
}
.p-card:nth-child(4) > p:nth-child(4) {
  font-size: 16px;
  color: gray;
}
.p-card > hr {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 1.5px;
  border: 1px solid gray;
  border-radius: 1px;
}
.p-card > hr + h2 {
  font-size: 20px;
  margin-bottom: 5px;
}
.add-margin {
  margin: 30px 0px 20px 0;
}
.p-card > h1 {
  font-weight: 400;
}
#standard > h1,
#standard > h1 > span {
  color: rgba(73, 73, 252, 0.788);
}
#standard {
  border-top-color: rgba(73, 73, 252, 0.788);
}

#pro > h1,
#pro > h1 > span {
  color: #00ca72;
}
#pro {
  border-top-color: #00ca72;
}

#enterprise > .img-cont {
  margin: 20px;
  margin-top: 25px;
}
#enterprise > img {
  opacity: 2;
}
#enterprise {
  border-top-color: navy;
}

.price-center-box {
  margin-top: 100px;
}
.price-center-box > h1 {
  width: 70%;
  margin: auto;
  font-size: 40px;
  font-weight: 400;
}
.center-img {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  justify-content: space-evenly;
}
.center-img > img {
  width: 78px;
  height: 70px;
  margin: 30px;
}
.frequently-ask {
  width: 100%;
  padding: 100px 10px;
  padding-right: 0px;
  background-color: rgb(251, 251, 251);
}
.frequently-ask > h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 50px;
}
.que-ans {
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
}

.ans {
  font-size: 15px;
  margin: 30px 0px 30px 30px;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  display: none;
}

#lower {
  width: 100%;
  margin: 0;
  padding: 80px 0px;
  background-color: white;
}
#lower > h1 {
  font-size: 35px;
}
#lower > p:nth-child(2) {
  font-size: 25px;
  color: rgb(51, 51, 51);
  margin-top: 15px;
  margin-bottom: 15px;
}
